body {
	background-image: url("wov.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	color: #777777;
}

a {
	color: #777777;
	text-decoration: none;
}

a:hover { 
	/*color: #4aaaa5; */
	color: #ffffff;
	text-decoration: none;
}

.header {	
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	margin-bottom: 30px;
	line-height: 80px;
}

.name {
	font-size: 44px;
	font-family: 'Lobster', cursive;
	background-color: #4aaaa5;
	text-align: center;
	display: inline-block;
}

#name {
	color: #ffffff;
}

.mobile-nav {
	line-height: 50px;
}


.links {
	display: inline-block;
	text-align: center;
}

.links:hover {
	background-color: #4aaaa5;
}

#linkText {
	color: #777777;
}

#linkText:hover {
	color: #4aaaa5;
}

#download {
	text-align: right;
}

.projects {
	width: 100%;
	padding-bottom: 70px;
	border: 2px solid #cccccc;
}

span {
	position: absolute;
	font-size: 20px;
	left: 15px;
	right: 15px;
	bottom: 28px;
	line-height: 60px;
	color: white;
	text-align: center;
	background: #4aaaa5;
	z-index: 100;
	}

.main-shell {
	margin-bottom: 30px;
	padding-bottom: 10px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	}

.section-header, .sidebar-header {
	border-bottom: 3px solid #dddddd;
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #4aaaa5;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.sidebar-header {
	border-bottom: 1px solid #dddddd;
	font-size: 22px;
}

.img-responsive {
	padding-top: 10px;
	padding-bottom: 20px;
}

p {
	padding-right: 10px;
}

/*Override Bootstrap CSS for Sidebar*/
/*.col-lg-3 {
    width: 27%;
}*/

.panel, .panel-medium {
	padding-bottom: 20px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	margin-bottom: 30px;
}

.panel-medium {
	margin-left: 30px;
}

.panel-default {
	border-top: 3px solid #dddddd;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 20px;
}

.form-group {
	padding-right: 10px;
}

.btn {
	background-color: #4aaaa5;
	color: #ffffff;
	width: 25%;
}

.portfolio {
	position: relative;
	padding-bottom: 20px;
	padding-top: 10px;
	display: inline-block;
}

#confirm {
	text-align: center;
	font-style: italic;
}

.footer {
	clear: both;
	padding-top: 0;
	height: 90px;
	line-height: 85px;
	background: #666666;
	border-top: 5px solid #4aaaa5;
	color: #ffffff;
	font-size: 12px;
}


